 <!DOCTYPE html>
  <html lang="en">
    <head>
      <link rel="stylesheet" type="text/css" href="styling.css">
      <title>LACKP</title>
    </head>

    <body>
      <h1>Team Rosters:</h1>

      <ul>
        <li>
          <a href = "/Jetson%20Jets">Jetson Jets</a>
        </li>
        <li>
          <a href = "/Flinestone%20Fire">Flinestone Fire</a>
        </li>
        <li>
          <a href = "/Griffin%20Goats">Griffin Goats</a>
        </li>
        <li>
          <a href = "/Simpson%20Slammers">Simpson Slammers</a>
        </li>
      </ul>

       <h1>Players by Position:</h1>

      <ul>
        <li>
          <a href = "/Catcher">Catcher</a>
        </li>
        <li>
          <a href = "/Pitcher">Pitcher</a>
        </li>
        <li>
          <a href = "/1st%20Base">1st Base</a>
        </li>
        <li>
          <a href = "/2nd%20Base">2nd Base</a>
        </li>
        <li>
          <a href = "/3rd%20Base">3rd Base</a>
        </li>
        <li>
          <a href = "/Short%20Stop">Short Stop</a>
        </li>
        <li>
          <a href = "/Right%20Field">Right Field</a>
        </li>
        <li>
          <a href = "/Center%20Field">Center Field</a>
        </li>
        <li>
          <a href = "/Left%20Field">Left Field</a>
        </li>
      </ul>

    </body>
  </html>


